img
{
height: 50px

}

.gallery{
    width: 800px;
    display: inline;
    margin: 30px 0px 60px 30px;
}

.gallery h2{
    font-size: 56px;
}
.gallery p{
    font-size: 20px;

}

.imagegallery img{
    width: 120px;
    height: 200px;
    
    
}
.imagegallery{
    display: flex;
    align-items: center;
    height: 300px;
    background-color: #E5DDC5;
    margin: 0px 50px 50px 50px;

}



.sharktext{
    display: flex;
    background-color: #F1EEDC;
    width: 480px;
    height: 220px;
    
}

.gallery h2, .gallery p {
    margin-left: 30px
}